ARCADE_API_KEY=arc_proj_YOUR_KEY_HERE
ARCADE_USER_ID=you@arcade.dev
ENGINE_URL=https://api.arcade.dev
ENGINE_HOST=api.arcade.dev
CATE_WEBHOOK_URL=http://localhost:8888
GATEWAY_SLUG=demo-gateway
ORG_ID=
PROJECT_ID=
NGROK_AUTHTOKEN=your_ngrok_authtoken_here
WATCH_SENDER=
